$headerHeight: 75px;
$indexBase: 2;
$indexMedium: 3;
$indexMax: 4;
$superIndex: 9999;

@mixin base-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin base-form(){
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@mixin base-btn() {
    padding: 10px;
    border: 1px solid;
    background-color: none;
    border-radius: 8px;

        &:hover {
            background-color: rgb(224, 220, 220);
            cursor: pointer;
        }
}

@mixin base-container-input(){
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.errors-style {
    color: red;
    padding: 5px;
}
