@mixin base-center() {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@mixin base-form(){
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

@mixin base-btn() {
    padding: 10px 109px;
    border: 1px solid;
    background-color: none;
    border-radius: 8px;

        &:hover {
            background-color: rgb(224, 220, 220);
            cursor: pointer;
        }
}
