@media only screen and (max-width: 768px) {

    .father {
        display: flex;
        margin: 1,5rem;
    }

    .header-style {
        display: flex;
        width: 100%;
        align-content: space-between;

        .img-header{
            display: flex;
            width: 4rem;
            height: 4rem;
        }

        .text-header{
            width: 1rem;
        }
    }

    .form-style {
        display: flex;
        margin: 4rem;
        align-items: center;
        flex-direction: column;

        .form-input {
            display: flex;
            margin-bottom: 1rem;
        }
    }
}