@use '../../styles/baseStyle';

.header {
    width: 100%;
    height: baseStyle.$headerHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    position: fixed;
    top: 0;

    .header-img-container {
        height: 100%;
    }

    .header-img {
        height: 100%;
    }

    .header-link-login {
        color:  rgb(240,242,245);

        .header-link {
            font-weight: bold;
            font-size: 15px;
            text-decoration: none;
            color: #8FC845;
            cursor: pointer;
        }
    }

    .header-link-signup {
        color: black;

        .header-link{
            font-weight: bold;
            font-size: 15px;
            text-decoration: none;
            color: #8FC845;
            cursor: pointer;
        }
    }
    
}

.header-auth {
    width: 100%;
    height: baseStyle.$headerHeight;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    position: fixed;
    top: 0;
    background-color: #2C452F;
    z-index: baseStyle.$superIndex;

    .header-img-container, .header-img {
        height: 100%;
    }

    .header-img-container {
        display: flex;
        flex-grow: 2;
    }

    .header-user-desk {
        color: #e4eed7;
        font-weight: bold;
        font-size: 20px;
        width: 400px;
        display: flex;
        justify-content: space-between;
        
        .header-user-icon {
            padding-right: 5px;
            display: flex;
            align-items: center;
        }
    }

    .header-user {
        color: #e4eed7;
        font-weight: bold;
        font-size: 20px;
        width: 45%;
        display: flex;
        justify-content: space-between;
    }

    .header-fav{
        color: #e4eed7;
        font-size: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;

        .link-favorites {
            text-decoration: none;
            color: #e4eed7;
        }
    }
    .header-icon {
        display: flex;
        align-items: center;
        padding-right: 5px;
    }

}
