@use "../styles/baseStyle";

.layout-container {
    @include baseStyle.base-center();
    flex-direction: column;
    height: 100%;
}

.layout-container-home {
    @include baseStyle.base-center();
    flex-direction: column;
}
