@use '../../styles/baseStyle';

.container-login {
    @include baseStyle.base-center();
    flex-direction: column;

    .login-form {
        @include baseStyle.base-form();
        margin: 25px;

        div {
            margin-top: 20px;

            .form-inputs{
                padding: 14px 70px 14px 10px;
                border: none;
                border-radius: 5px;

                &:hover, :focus {
                    outline: none;
                    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .7);
                }
            }

            .links-form {
                display: flex;
                justify-content: right;
                font-size: 0.8rem;
                text-decoration: none;
                color: red;

                &:hover {
                    color: rgb(223, 2, 2);
                }
            }

            .btn-form {
                margin-top: 15px;
                @include baseStyle.base-btn();
            }
        }
    }
}
